<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{{#if mobile_content}}
	<style>
		#wt-mobile{
			display:none;
			position: absolute;
			top:0;
			left:0;
			bottom:0;
			right:0;
			background-color: white;
		}
		@media(max-width:1023px){
			#wt-mobile{
				display:block;
			}
		}
	</style>
	{{/if}}
	{{#block "style"}}
	{{/block}}
</head>
<body class="{{bodyClass}}">
	{{#block "body"}}
	{{/block}}
	<script src="{{base_url}}_assets/bundle.js"></script>
	{{#block "script"}}
	{{/block}}

	{{#if mobile_content}}
	<div id="wt-mobile">
		{{{mobile_content}}}
	</div>
	{{/if}}
</body>
</html>
